scrape_configs:
  - job_name: "hass"
    scrape_interval: 60s
    metrics_path: /api/prometheus
    authorization:
      credentials: "{{ hass_long_lived_token }}"
    scheme: http
    static_configs:
      - targets: ['{{ hass_host }}']