scrape_configs:
  - job_name: 'pve_node_exporter'
    static_configs:
      - targets:
{% for target in pve_node_exporter_targets %}
        - {{ target }}
{% endfor %}

  - job_name: 'pve'
    static_configs:
      - targets:
        - {{ pve_exporter_target }}
    metrics_path: /pve
    params:
      module: [default]
      cluster: ['1']
      node: ['1']
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ pve_exporter_endpoint }}

  - job_name: scaphandre
    fallback_scrape_protocol: PrometheusText1.0.0
    static_configs:
{% for target in scaphandre_targets %}
      - targets:
          - {{ target.host }}:9898
        labels:
          pve_node: {{ target.host }}
{% endfor %}