route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'telegram'
receivers:
  - name: 'telegram'
    telegram_configs:
      - bot_token: '{{ telegram_bot_token }}'
        chat_id: {{ telegram_chat_id }}
        parse_mode: 'Markdown'
        message: |
{% raw %}
          {{ range .Alerts }}
          *{{ .Status | toUpper }}{{ if eq .Status "firing" }} 🔥{{ end }}*
          *Alert:* {{ .Labels.alertname }}
          *Severity:* {{ .Labels.severity }}
          *Instance:* {{ .Labels.instance }}
          *Description:* {{ .Annotations.description }}
          {{ end }}
{% endraw %}
inhibit_rules:
  - source_matchers: [severity="critical"]
    target_matchers: [severity="warning"]
    equal: [alertname, dev, instance]