[Unit]
Description=Scaphandre  service

[Service]
User=root
Group=root
ExecStart=/usr/bin/scaphandre prometheus -p 9898

[Install]
WantedBy=multi-user.target